# Documentation
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Secrets (IMPORTANT)
application.properties
*.env

# Logs
*.log

# OS System Files
.DS_Store
Thumbs.db

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/